.vscode/launch.json
dist
build
node_modules
public/dist
src/**/*.js.map
src/engine/**/*.js*
src/game/**/*.js*
src/test/**/*.js*
src/test/boot-tests.js
src/test/test-util.js

*.jar
*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
android/vastdroid/.idea/workspace.xml
